<div id="contact">
  <h2 data-aos="slide-up" data-aos-duratioon="600" data-aos-once="true">
    Contact
  </h2>

  <form name="dev-contact" netlify>
    <div class="contact-input">
      <label>
        <span class="sr-only">Name:</span>
        <input placeholder="Name" type="text" name="name" required />
      </label>
    </div>
    <div class="contact-input">
      <label>
        <span class="sr-only">Email:</span>
        <input placeholder="Email" type="email" name="email" required />
      </label>
    </div>
    <div class="contact-input">
      <label>
        <span class="sr-only">Message:</span>
        <textarea placeholder="Message" name="message" required></textarea>
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
