<!-- Upcoming shows -->
<div id="shows" class="section upcoming-shows odd">
  <div class="wrapper">
    <h2 class="section-title">
      Upcoming shows
    </h2>
    <div *ngIf="upcomingShows.length; else noResults">
      <div class="upcoming-show-wrapper">
        <div
          *ngFor="let show of upcomingShows"
          class="upcoming-show"
        >
          <h3>{{ show.title }}</h3>
          <p class="date">{{ show.date | date: "d MMMM yyyy - hh:mm aa" }}</p>
          <a
            *ngIf="show.ticket_url"
            [href]="show.ticket_url ? show.ticket_url : ''"
            class="ticket-link"
            target="_blank"
            rel="noopener noreferrer"
            >Get tickets</a
          >
        </div>
      </div>
    </div>

    <h2 class="section-title">
      Past shows
    </h2>
    <div  class="upcoming-show-wrapper">
      <div
          *ngFor="let show of pastShows"
          class="upcoming-show"
        >
          <h3>{{ show.title }}</h3>
          <p class="date">{{ show.date | date: "d MMMM yyyy - hh:mm aa" }}</p>
        </div>
    </div>

    <ng-template #noResults>
      <p class="no-results">No current upcoming shows</p>
    </ng-template>
  </div>
</div>
