<!-- Contact -->
<div id="contact" class="section contact odd">
  <div class="wrapper">
    <h2 class="section-title">
      Contact
    </h2>
    <form name="contact" netlify>
      <div class="contact-input">
        <label>
          <span class="sr-only">Name:</span>
          <input placeholder="Name" type="text" name="name" required />
        </label>
      </div>
      <div class="contact-input">
        <label>
          <span class="sr-only">Email:</span>
          <input placeholder="Email" type="email" name="email" required />
        </label>
      </div>
      <div class="contact-input">
        <label>
          <span class="sr-only">Message:</span>
          <textarea placeholder="Message" name="message" required></textarea>
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
