@import 'variables';

* {
    font-family: "Verdana";
}

body {
    padding: 0;
    margin: 0;
}
h1 {
    text-transform: uppercase;
    font-size: 6em;
}
h2 {
    text-transform: uppercase;
    font-size: 3em;
}
h3 {
    text-transform: uppercase;
    font-size: 2em;
}
p {
    font-size: 1.8em;
}
a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
label {
    font-size: 1.8em;
}
input,
textarea {
    border: 1px solid $black;
    font-size: 28.8px; // Used px to make sure Input and Textarea had same font size
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    &.submit {
        color: $white;
        background: $black;
        border-color: $black;
        &:hover,
        &.focus {
            border-color: $red;
            color: $red;
        }
        &:active {
            color: $red;
            background: $white;
            border-color: $red;
            outline-color: $red;
        }
    }
}
.ss-footer {
    p {
        font-size: 1.5em;
    }
}
.clearfix {
    clear: both;
}
// Lines between the headings and content
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    &.light {
        border-color: $white;
    }
    &.dark {
        color: $black;
    }
}
.scroll,
.social {
    .fa {
        color: $white;
        border: 2px solid $white;
        padding: 15px;
        width: 20px;
        text-align: center;
        display: inline;
        border-radius: 50%;
        line-height: 20px;
        &:hover,
        &:focus {
            background: $white;
            color: $black;
        }
    }
    &:hover,
    &:focus {
        // Remove underline from links on hover
        text-decoration: none;
    }
}
// Put space between icons and text below
.social-buttons {
    margin-bottom: 30px;
}
