@import "../variables";

@media screen and (min-width: $small-screen) {
  .menu-button {
    // Hide mobile menu button when screen is large
    display: none;
  }
}

@media screen and (max-width: $small-screen) {
  .nav-wrapper {
    .logo a {
      font-size: 2em;
    }

    .menu-button {
      // Show mobile menu button when screen is small
      display: block;
      color: $white;
      padding: 10px;
      margin: 10px;
      border: 2px solid $white;
      border-radius: 10px;
      float: right;

      &:hover,
      &:focus {
        color: $black;
        background: $white;
      }
    }

    .main-nav {
      float: none;

      .nav {
        // Hide menu when screen is small
        display: none;

        li {
          display: list-item !important;
          margin-top: 20px;

          a {
            font-size: 2em;

            &:hover,
            &:focus {
              outline: 0;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .section {
    h1 {
      font-size: 4em;
    }
    
    h2 {
      font-size: 2em;
    }
  }
}
