.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .main-nav {
    padding: 10px 20px;
    border: 0 solid $white;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-left-radius: 5px;
    background: $black;

    .nav {
      padding-left: 0;

      li {
        list-style: none;
        display: inline;

        a {
          color: $white;
          text-decoration: none;
          font-size: 22px;
          padding: 10px;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
