<app-dev-banner></app-dev-banner>
<app-dev-about></app-dev-about>
<app-dev-tech></app-dev-tech>
<app-dev-work></app-dev-work>
<app-dev-contact></app-dev-contact>

<div class="footer">
  <div class="links">
    <a
      title="Github"
      href="https://github.com/TheCrowsJoker/"
      target="_blank"
      rel="norefferer noopener"
      ><fa-icon [icon]="faGithub"></fa-icon
    ></a>
    <a
      title="LinkedIn"
      href="https://www.linkedin.com/in/liam-sharpe-860b99264/"
      target="_blank"
      rel="norefferer noopener"
      ><fa-icon [icon]="faLinkedin"></fa-icon
    ></a>
  </div>
  <fa-icon [icon]="faCopyright"></fa-icon> Liam Sharpe 2023
</div>
