<div class="tech">
  <h2>Tech</h2>
  <div class="items">
    <div
      class="item item-angular"
      data-aos="fade-left"
      data-aos-duration="600"
      data-aos-delay="0"
    >
      <fa-icon [icon]="faAngular" class="icon"></fa-icon>
      <h3>Angular</h3>
      <p>Angular 11 and RxJS</p>
    </div>
    <div
      class="item item-sass"
      data-aos="fade-left"
      data-aos-duration="600"
      data-aos-delay="300"
    >
      <fa-icon [icon]="faSass" class="icon"></fa-icon>
      <h3>Sass</h3>
    </div>
    <div
      class="item item-mobile"
      data-aos="fade-left"
      data-aos-duration="600"
      data-aos-delay="600"
    >
      <fa-icon [icon]="faMobile" class="icon"></fa-icon>
      <h3>Mobile</h3>
      <p>Native mobile applications built in Flutter and React Native</p>
    </div>
    <div
      class="item item-code"
      data-aos="fade-left"
      data-aos-duration="600"
      data-aos-delay="900"
    >
      <fa-icon [icon]="faCode" class="icon"></fa-icon>
      <h3>Code</h3>
    </div>
  </div>
</div>
