{% extends "layout.html" %}
{% block body %}

</div>
<div id="containerContact">
<h2>
	Contact me
</h2>
<form action="https://docs.google.com/forms/d/1mvAbY2UBdpgYucPoO7HagnCO4pCuilR7SZPG5JJdN_M/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1307676363"><div class="ss-q-title">Name:
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1307676363" value="" class="ss-q-short" id="entry_1307676363" dir="auto" aria-label="Name:  " aria-required="true" required="" title="">
<div class="error-message" id="1259641358_errorMessage"></div>
<br>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1550588973"><div class="ss-q-title">Email:
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1550588973" value="" class="ss-q-short" id="entry_1550588973" dir="auto" aria-label="Email:  " aria-required="true" required="" title="">
<div class="error-message" id="1280130148_errorMessage"></div>
<br>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_279219206"><div class="ss-q-title">Message:
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.279219206" rows="8" cols="50" class="ss-q-long" id="entry_279219206" dir="auto" aria-label="Message:  " aria-required="true" required=""></textarea>
<div class="error-message" id="1383444587_errorMessage"></div>
<br></div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;7116185453645407597&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="7116185453645407597">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action "></td>
</tr></tbody></table></div></ol></form>
<div class="ss-footer">

		<div class="ss-attribution"></div>
		<div class="ss-legal">
			<span class="ss-powered-by">Powered by <a href="http://docs.google.com">Google Docs</a></span>
			<span class="ss-terms"><small><a href="https://docs.google.com/spreadsheet/reportabuse?formkey=dG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA&amp;source=https://docs.google.com/spreadsheet/viewform?formkey%3DdG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA">Report Abuse</a>
			-
			<a href="http://www.google.com/accounts/TOS">Terms of Service</a>
			-
			<a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></small></span>
		</div>
	</div>
</div>


</body>
</html>

{% endblock %}