{% extends "layout.html" %}
{% block body %}

<div id="container">
	<section id="gallery">
		<!-- picture of me enlarges when clicked -->
		<a href="../static/images/MeFull.jpg" data-lightbox="gallery">
			<img src="../static/images/MeSmall.jpg" alt="Picture of Liam Sharpe">
		</a> <!-- close image link -->
	</section> <!-- close section -->
	<div id="about">
		<h2>
			About me
		</h2> <!-- close h2 -->
		<p>
			My name is Liam Sharpe. I have a keen interest in computer science and one day hope to be a computer programmer. I have programming skills in many languages including; python, HTML, CSS, and PHP. I also have experience working with linux servers, and I work as an intern at Catalyst IT.
		</p> <!-- close paragraph -->
	</div> <!-- close about div -->
</div> <!-- close container div -->
<div class="clearfix">
</div> <!-- close clearfix div -->

{% endblock %}
