{% extends "layout.html" %}
{% block body %}

<div id="container">
	<section id="gallery">
		<a href="../static/images/MeFull.jpg" data-lightbox="gallery">
		<img src="../static/images/MeSmall.jpg" alt="Picture of Liam Sharpe">
		</a>
	</section>	
	<div id="about">
		<h2>
			About me
		</h2>
		<p>
			My name is Liam Sharpe. I have a keen interest in computer science and one day hope to be a computer programmer. I have programming skills in many languages including; python, HTML, CSS, and PHP. I also have experience working with linux servers, and since being introduced to git, I will never start a project without using version control again.
		</p>
	</div>
</div>
<div class="clearfix">
</div>

{% endblock %}