{% extends "layout.html" %}
{% block body %}
<section id="gallery">
	<a href="../static/images/MeFull.jpg" data-lightbox="gallery">
	<img src="../static/images/MeSmall.jpg" alt="Picture of Liam Sharpe">
	</a>
</section>	
	<div id="about">
		<h2>
			About me
		</h2>
		<p>
			My name is Liam Sharpe. I have a keen interest in computer science and one day hope to be a computer programmer. I have programming skills in many languages including; python, HTML, CSS, and PHP. I also have experience working with linux servers, and since being introduced to git, I will never start a project without using version control.
		</p>
	</div>
</div>
<div id="timeline">
	<h2>
		Timeline of events and projects
	</h2>
	<h3>
		2015
	</h3>
	<p> 
		Over the 2015 summer holidays, I participated in the Catalyst IT open source academy. While there, I learnt a whole lot of new things including programming languages (mentioned above), testing, version control, graphic design, accessibility, linux, java, servers, and using the famous vi/vim. I also got to contribute to Piwik - an open source web analytics program - and I currently have the first and only theme available on the piwik marketplace (129 downloads and counting).
	</p>
	<h3>
		2014
	</h3>
	<p>
		I attended kiwicon 8 in december 2014. Kiwicon is the largest hackers confrence in New Zealand. While there, I learnt alot from all the speakers there. Some of my favorites include ___.
	</p>
	<p>
		Along with the help of my cousin (her <a href="http://www.hayleyavw.com" alt="link to Hayley van Waas' website">website</a>), I made a text based video game named ESCAPE! using python. The aim is to navigate through a maze of rooms, conquering monsters, and collecting items. The git repository for the game can be found
		<a href="https://bitbucket.org/LiamSharpe/textbasedgame" alt="link to text based video game git repository">here</a>.
	</p>
</div>	
<!-- </body>
</html> -->

{% endblock %}