<html>
	<head>
		<title>
			Jordan is 18!
		</title>
		<style>
			body {
				background: #888;
			}
			.container {
				border-radius: 20px;
				background: #666;
				margin: 20px;
				padding: 20px;
				border: 1px solid #000;
				box-shadow: 5px 5px 10px;
			}
			.head {
				text-align: center;
				background: #000;
				border-radius: 20px;
				color: #fff;
				padding: 5px;
				margin-bottom: 20px;
			}
			.image {
				text-align: center;
			}
			.image img {
				border-radius: 20px;
				border: 1px solid #000;
				box-shadow: 5px 5px 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="head">
				<h1>
					Happy Birthday Jordan!
				</h1>
				<h2>
					I didn't have time to do a full website sorry so just enjoy this GIF of a cat being hit on the head by another cat :)
				</h2>
			</div>
			<div class="image">
				<img src="../static/images/bop.gif">
			</div>
		</div>
	</body>

</html>