<!DOCTYPE html>

<!-- heading content -->
<html>
	<head>
		<!-- meta tags -->
		<meta charset="UTF-8">
	    <meta name="keywords" content="Liam Sharpe, Computer, Programmer, Science, ">
	    <meta name="description" content="Website of Liam Sharpe, a computer scientist.">
	    <meta name="author" content="Liam Sharpe">

		<!-- connect to the stylesheets and javascript sources -->
		<link rel="stylesheet" type="text/css" href="../static/styles/lightbox.css">
		<script src="../static/js/googleTrackingCode.js"></script>
		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/menu.js"></script>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<title>
			Liam Sharpe
		</title>
	</head>
	<body>
		<header>
			<!-- title of the page -->
			<div id="head">
				<div class="twitter-follow-button">
					<a href="https://twitter.com/TheCrowsJoker" target="_blank">
						<img id="twitter-follow-button-dark" src="../static/images/twitterDark.png">
						<img id="twitter-follow-button-active" src="../static/images/twitterActive.png">
					</a>
				</div>
				<h1>
					Liam Sharpe
				</h1>
			</div>
			<!-- links to the other pages -->
			<a href="{{ url_for('home') }}">
				<div class="menu">
					Home
				</div>
			</a>
			<a href="{{ url_for('projects') }}">
				<div class="menu">
					Projects
				</div>
			</a>
			<a href="{{ url_for('contact') }}">
				<div class="menu">
					Contact me
				</div>
			</a>
			<a href="https://twitter.com/TheCrowsJoker" target="_blank">
				<div class="menu mobile-twitter-button">
					Follow me on Twitter
				</div>
			</a>
			<div class="menu-button"><img src="../static/images/menu.png"> Menu</div>
			<div class="clearfix">
			</div>
		</header>

	{% block body %} {% endblock %}

		<footer>
			<h3>
				&copy; Liam Sharpe 2015
			</h3>
		</footer>
	</body>
</html>
