<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
<link rel="stylesheet" type="text/css" href="../static/styles/lightbox.css">
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/lightbox.js"></script>
<!-- <script src="../static/js/script.js"></script> -->
<title>
	Liam Sharpe - Online CV
</title>
</head>

<body>
<div id="head">
	<h1>
		Liam Sharpe
	</h1>
	<h2>
		Online CV
	</h2>
</div>
<div id="container">
	<div id="links">
			<a href="{{ url_for('home') }}">Home</a>
	</div>
	<div id="links">
			Projects
	</div>
	<div id="links">
			Other
	</div>
	<div id="links">
			Contact me
	</div>

	{% block body %} {% endblock %}


<footer>
<a class="twitter-follow-button"
  href="https://twitter.com/TheCrowsJoker"
  data-show-count="true"
  data-lang="en"
  data-show-screen-name="false">
Follow @Liam Sharpe
</a>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
</footer>

</body>
</html>