<!DOCTYPE html>

<!-- heading content -->
<html>
	<head>
		<!-- meta tags -->
		<meta charset="UTF-8">
	    <meta name="keywords" content="Liam Sharpe, Liam, Sharpe, Sharp, Computer, Computers, Programmer, Programming, Science">
	    <meta name="description" content="Website for Liam Sharpe, Programmer">
	    <meta name="author" content="Liam Sharpe">

		<!-- connect to the stylesheets and javascript sources -->
		<link rel="stylesheet" type="text/css" href="../static/styles/lightbox.css">
		<script src="../static/js/googleTrackingCode.js"></script>
		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/menu.js"></script>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<link rel="stylesheet" href="../static/font-awesome-4.5.0/css/font-awesome.min.css">
		<link href="../static/styles/styles.css" rel="stylesheet">
		<title>
			Liam Sharpe
		</title>
	</head>
	<body>
		<div class="body">
			<header>
				<!-- title of the page -->
				<div class="header">
					<h1>
						Liam Sharpe
					</h1>
				</div>
				<div class="nav {% if request.path=="/" %} nav-home {% endif %}">
					<!-- links to the other pages -->
					<a href="{{ url_for('home') }}">
						<span class="nav-item nav-item-home">
							Home
						</span>
					</a>
					<a href="{{ url_for('about') }}">
						<span class="nav-item nav-item-about">
							About
						</span>
					</a>
					<a href="{{ url_for('projects') }}">
						<span class="nav-item nav-item-projects">
							Projects
						</span>
					</a>
					<a href="{{ url_for('contact') }}">
						<span class="nav-item nav-item-contact">
							Contact
						</span>
					</a>
					{% if request.path=="/" %}
						<a href="https://twitter.com/TheCrowsJoker" alt="Menu icon" target="_blank">
							<span class="nav-item nav-item-twitter">
								My Twitter
							</span>
						</a>
					{% endif %}
					{% if request.path!="/" %}
						<span class="mobile-menu-button">Menu</span>
					{% endif %}
				</div>
			</header>

{% block body %} {% endblock %}

			<footer>
				<h3>
					&copy; Liam Sharpe 2016
				</h3>
			</footer>
		</div>
	</body>
</html>
