{% extends "layout.html" %}
{% block body %}

<div class="projects">
	<h2>
		Projects
	</h2>
	<h3>
		Escape!
	</h3>
	<p>
		Along with the help of my cousin (her <a href="http://www.hayleyavw.com">website</a>), I made a text based video game named ESCAPE! using python. The aim is to navigate through a maze of rooms, conquering monsters, and collecting items. The git repository for the game can be found
		<a href="https://github.com/TheCrowsJoker/TextBasedGame">
			here.
		</a>
	</p>
	<h3>
		This website
	</h3>
	<p>
		This website was built using a mix of python (running a flask microframework), HTML, CSS, and javascript. All of this is combined to produce what you are now looking at. All the open source code can be found on github <a href="https://github.com/TheCrowsJoker/PersonalWebsite.git">
			here.
		</a>
	</p>
	<h3>
		Catalyst academy / Piwik theme
	</h3>
	<p>
		Over the 2015 summer holidays, I participated in the Catalyst IT open source academy. While there, I learnt a whole lot of new things including programming languages (python, HTML, CSS, PHP, and javascript), testing, version control, graphic design, accessibility, linux, servers, and using the famous vi/vim. I also got to contribute to Piwik - an open source web analytics program - and I currently have the first and only theme available on the piwik marketplace. Check out my theme <a href="http://themes.piwik.org/Darkness">
			here.
		</a>
	</p>
	<h3>
		Catalyst IT internship
	</h3>
	<p>
		Since May of 2015, I have been working at Catalyst IT as a front end developer. The main project I work on is called <a href="http://www.mahara.org">Mahara</a>. It is an open source ePortfolio used by many institutes and organisations around the world. Since starting on the project, I have helped work on the newest design overhaul that was released in October.
	</p>
</div>

{% endblock %}
