{% extends "layout.html" %}
{% block body %}

<div id="projects">
	<h2>
		Projects
	</h2>
		<h3>
			Escape!
		</h3>
	<p>
		Along with the help of my cousin (her <a href="http://www.hayleyavw.com" alt="link to Hayley van Waas' website">website</a>), I made a text based video game named ESCAPE! using python. The aim is to navigate through a maze of rooms, conquering monsters, and collecting items. The git repository for the game can be found
		<a href="https://bitbucket.org/LiamSharpe/textbasedgame" alt="link to text based video game git repository">here</a>.
	</p>
	<h3>
		This website
	</h3>
	<p>
		___
	</p>
</div>

{% endblock %}