{% extends "layout.html" %}
{% block body %}

<div id="projects">
	<h2>
		Projects
	</h2>
		<h3>
			Escape!
		</h3>
	<p>
		Along with the help of my cousin (her <a href="http://www.hayleyavw.com" alt="link to Hayley van Waas' website">website</a>), I made a text based video game named ESCAPE! using python. The aim is to navigate through a maze of rooms, conquering monsters, and collecting items. The git repository for the game can be found
		<a href="https://bitbucket.org/LiamSharpe/textbasedgame" alt="link to text based video game git repository">here</a>.
	</p>
	<h3>
		This website
	</h3>
	<p>
		This website was built using a mix of python (running a flask microframework), HTML, and CSS, and javascript. All of this is combined to produce what you are now looking at. All the open source code can be found on github <a href="https://github.com/TheCrowsJoker/PersonalWebsite.git" alt="link to the source code for this website">here</a>.
	</p>
	 <h3>
		Catalyst IT / Piwik theme
	</h3>
	<p> 
		Over the 2015 summer holidays, I participated in the Catalyst IT open source academy. While there, I learnt a whole lot of new things including programming languages (python, HTML, CSS, PHP, and javascript), testing, version control, graphic design, accessibility, linux, servers, and using the famous vi/vim. I also got to contribute to Piwik - an open source web analytics program - and I currently have the first and only theme available on the piwik marketplace. Check out my theme <a href="http://themes.piwik.org/Darkness" alt="link to my theme on the piwik marketplace">here</a>.
	</p>
</div> <!-- close projects div -->

{% endblock %}