@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-wrapper .main-nav {
  padding: 10px 20px;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-bottom-left-radius: 5px;
  background: #000;
}
.nav-wrapper .main-nav .nav {
  padding-left: 0;
}
.nav-wrapper .main-nav .nav li {
  list-style: none;
  display: inline;
}
.nav-wrapper .main-nav .nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}
.nav-wrapper .main-nav .nav li a:hover, .nav-wrapper .main-nav .nav li a:focus {
  text-decoration: underline;
}

.section {
  text-align: center;
  color: #fff;
  padding: 60px 20px;
  background-color: #000;
}
.section h1,
.section .section-title {
  margin: 20px 0;
}
.section .section-title:after {
  content: "";
  display: block;
  width: 250px;
  height: 5px;
  background: #fff;
  margin: 20px auto;
}
.section:nth-of-type(2n + 1) {
  background-color: #fff;
  color: #000;
}
.section:nth-of-type(2n + 1) .section-title:after {
  content: "";
  display: block;
  width: 250px;
  height: 5px;
  background: #000;
  margin: 20px auto;
}
.section.main {
  padding-top: 100px;
  height: 75vh;
  background-image: url("../images/circus_banner_1_2.jpg");
  background-position: top center;
  background-size: cover;
}
.section.main .heading {
  margin-top: 10%;
}
.section.main .heading .title:after {
  content: "";
  display: block;
  width: 250px;
  height: 5px;
  background: #fff;
  margin: 20px auto;
}
.section.main .heading h2 {
  margin-bottom: 50px;
}
.section.about .wrapper, .section.galery .wrapper, .section.contact .wrapper {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.section.footer {
  padding-bottom: 20px;
}

.contact form {
  margin-top: 35px;
}
.contact form .contact-input {
  margin-bottom: 20px;
}
.contact form .contact-input .sr-only {
  display: none;
}
.contact form .contact-input input,
.contact form .contact-input textarea {
  width: 90%;
  max-width: 768px;
  font-size: 1.8em;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px;
}
.contact form button {
  border: 1px solid #000;
  background: none;
  font-size: 1.8em;
  padding: 5px 15px;
  border-radius: 3px;
}
.contact form button:hover, .contact form button:focus {
  background: #000;
  color: #fff;
}
.contact form button:active {
  border-color: #900;
  color: #900;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-wrapper .main-nav {
  padding: 10px 20px;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-bottom-left-radius: 5px;
  background: #000;
}
.nav-wrapper .main-nav .nav {
  padding-left: 0;
}
.nav-wrapper .main-nav .nav li {
  list-style: none;
  display: inline;
}
.nav-wrapper .main-nav .nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}
.nav-wrapper .main-nav .nav li a:hover, .nav-wrapper .main-nav .nav li a:focus {
  text-decoration: underline;
}

* {
  font-family: "Lato", "Verdana";
}

h1 {
  font-size: 6em;
  letter-spacing: 5px;
}

h2 {
  font-size: 3em;
  letter-spacing: 3px;
}

p {
  font-size: 1.8em;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #900;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.scroll .fa,
.social .fa {
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  width: 20px;
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 20px;
}
.scroll .fa:hover, .scroll .fa:focus,
.social .fa:hover,
.social .fa:focus {
  background: #fff;
  color: #000;
}
.scroll:hover, .scroll:focus,
.social:hover,
.social:focus {
  text-decoration: none;
}

.social-buttons {
  margin-bottom: 40px;
}
.social-buttons a {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-wrapper .menu-button {
    display: block;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    float: right;
    background: #000;
  }
  .nav-wrapper .menu-button .menu-opened {
    display: none;
  }
  .nav-wrapper .menu-button .menu-closed {
    display: block;
  }
  .nav-wrapper .menu-button.open {
    margin: 0 0 10px 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    height: fit-content;
  }
  .nav-wrapper .menu-button.open .menu-opened {
    display: block;
  }
  .nav-wrapper .menu-button.open .menu-closed {
    display: none;
  }
  .nav-wrapper .menu-button:hover, .nav-wrapper .menu-button:focus {
    color: #000;
    background: #fff;
  }
  .nav-wrapper .main-nav {
    float: none;
    display: none;
  }
  .nav-wrapper .main-nav.open {
    display: block;
  }
  .nav-wrapper .main-nav .nav li {
    display: list-item !important;
    margin-top: 20px;
  }
  .nav-wrapper .main-nav .nav li a {
    font-size: 2em;
  }
  .nav-wrapper .main-nav .nav li a:hover, .nav-wrapper .main-nav .nav li a:focus {
    outline: 0;
    text-decoration: underline;
  }

  .section h1 {
    font-size: 4.5em;
  }
  .section h2 {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=index.css.map */
