/* general stuff */

html {
	font-size: 62.5%;
} 

h1 {
	color: #f00;
	text-align: center;
	font: bold 4rem "Century Gothic", Sans-serif;
}

h2 {
	color: #fff;
	text-align: center;
	font: bold 2.5rem "Century Gothic", Sans-serif;
}

h3 {
	color: #f00;
	text-align: center;
	font: bold 2rem "Century Gothic", Sans-serif;
}

p {
	font: normal 1.5rem "Century Gothic", Sans-serif;
	color: #fff;
}
body {
	background-color: #181818;
}

p a:hover{
	color: #fff;
}

a {
	color: inherit;
}

p a {
  text-decoration: none;
  color: #f00;
}

#head {
	width: auto;
	border-radius: 20px;
	border: 1px solid #fff;
	margin: 2.5% 5% 0% 5%;
	background-color: #000;
}

.menu {
	float: left;
	width: 23.1%;
	text-align: center;
	font: bold 2rem "Century Gothic", Sans-serif;
	margin: 2.5% 5%;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 10px 0;
	background-color: #000;
	color: #f00;
}

.menu:hover {
	color: #fff;
}

.menu-button, .mobile-twitter-button {
	display: none;
}

.clearfix {
	clear: both;
}

.twitter-follow-button {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#twitter-follow-button-dark {
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 64px;
}

#twitter-follow-button-dark:hover {
	opacity: 0;
}

#twitter-follow-button-active {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 61px;
}

/* Home page */

#container {
	margin: 0% 5% 5% 5%;
}

#gallery img {
	width: 300px;
	border: 1px solid #fff;
	border-radius: 20px;
	margin: 0% 5% 0% 0%;
	float: left;
	display: table-cell;
}

#about {
	border-radius: 20px;
	border: 1px solid #fff;
	padding: 10px;
	background-color: #000;
	display: table-cell;
	text-align: justify;
}

/* projects page */

#projects {
	width: auto;
	border: 1px solid #fff;
	border-radius: 20px;
	margin: 0% 5% 5% 5%;
	padding: 10px;
	background-color: #000;
	text-align: justify;
}

/* Contact me page */

#ss-form {
	width: auto;
}

.ss-q-title {
	color: #f00;
	font: normal 2rem "Century Gothic", Sans-serif;
}

#containerContact {
	width: auto;
	border-radius: 20px;
	border: 1px solid #fff;
	margin: 0% 5% 5% 5%;
	background-color: #000;
	padding: 20px;
}

.ss-q-short {
	width: 100%;
	font: normal 2rem "Century Gothic", Sans-serif;
}

.ss-q-long {
	width: 100%;
	font: normal 2rem "Century Gothic", Sans-serif;
}

.ss-legal {
	color: #fff;
	font: normal 2rem "Century Gothic", Sans-serif;
}

.jfk-button  {
    padding: 10px 15px;
    background: #000;
    color: #f00;
    border-radius: 4px;
    border: solid 1px #181818;
    font: normal 2rem "Century Gothic", Sans-serif;
}

.jfk-button:hover {
    background: #000;
    border: solid 1px #f00;
    text-decoration: none;
}

.jfk-button:active {
    background: #f00;
    border: solid 1px #f00;
}

/* #404 page */

#error {
	color: #fff;
	width: auto;
	margin: 0% 5% 5% 5%;
	text-align: center;	
	background: #000;
	font: bold 3rem "Century Gothic", Sans-serif;
	border-radius: 20px;
	border: 1px solid #fff;
}