body {
  padding: 0;
  margin: 0;
}

a {
  color: $red;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.scroll,
.social {
  fa-icon {
    color: $white;
    border: 2px solid $white;
    padding: 15px;
    width: 20px;
    text-align: center;
    display: inline;
    border-radius: 50%;
    line-height: 20px;

    &:hover,
    &:focus {
      background: $white;
      color: $black;
    }
  }

  &:hover,
  &:focus {
    // Remove underline from links on hover
    text-decoration: none;
  }

  .section.odd & fa-icon {
    color: $black;
    border-color: $black;

    &:hover,
    &:focus {
      background: $black;
      color: $white;
    }
  }
}

// Put space between icons and text below
.social-buttons {
  margin-bottom: 40px;

  a {
    margin: 0 10px;
  }
}
