<!-- Navigation -->
<div class="nav-wrapper">
  <div class="menu-button" [class.menu-opened]="menuOpened" (click)="menuOpened = !menuOpened">
    <fa-icon [icon]="menuOpened ? faTimes : faBars"></fa-icon>
  </div>

  <div *ngIf="menuOpened" class="main-nav">
    <ul class="nav">
      <li>
        <button (click)="scrollTo('main')">
          Home
        </button>
      </li>
      <li>
        <button (click)="scrollTo('about')">
          About
        </button>
      </li>
      <li>
        <button (click)="scrollTo('gallery')">
          Gallery
        </button>
      </li>
      <li>
        <button (click)="scrollTo('upcoming-shows')">
          Upcoming shows
        </button>
      </li>
      <li>
        <button (click)="scrollTo('contact')">
          Contact
        </button>
      </li>
    </ul>
  </div>
</div>
