@import "src/assets/sass/_variables";

.nav-wrapper {
  width: 100%;

  .menu-button.menu-opened {
    height: fit-content;
  }

  .main-nav {
    padding: 10px 20px;
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title a {
      color: $white;
      font-size: 1.7em;
    }

    ul {
      padding-left: 0;
      margin: 10px 0;

      li {
        list-style: none;
        display: inline;

        button,
        a {
          color: $white;
          background: none;
          box-shadow: none;
          border: none;
          text-decoration: none;
          font-size: 1.2em;
          padding: 0 10px;
          cursor: pointer;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.dev {
    .main-nav {
      background: $white;

      .title a {
        color: $black;
      }

      ul {
        li {
          button,
          a {
            color: $black;
          }
        }
      }
    }
  }
}
