@import 'src/assets/sass/_variables';

.nav-wrapper {
  position: fixed;
  width: 100%;

  .menu-button.menu-opened {
    height: fit-content;
  }

  .main-nav {
    padding: 10px 20px;
    background: $black;

    .nav {
      padding-left: 0;
      margin: 10px 0;

      li {
        list-style: none;
        display: inline;

        button {
          color: $white;
          background: none;
          box-shadow: none;
          border: none;
          text-decoration: none;
          font-size: 1.2em;
          padding: 0 10px;
          cursor: pointer;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
