<div id="work">
  <h2 data-aos="slide-right" data-aos-duratioon="600" data-aos-once="true">
    Work
  </h2>
  <div>
    <div
      class="work-item"
      data-aos="fade-right"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>Experimental Theatre Collective</h3>
        <p>
          A squarespace theme built for a new startup theatre collective based
          in Dunedin NZ.
        </p>
      </div>
      <div class="work-item-image image-desktop">
        <img src="../../../assets/images/work/experimental.png" />
      </div>
    </div>
    <div
      class="work-item"
      data-aos="fade-left"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>Te Waharoa Ararau / PaCT</h3>
        <p>
          Two educational sites built for use in English and Māori curriculum
          schools in New Zealand. Built with an Angular front-end and a Django
          back-end.
        </p>
      </div>
      <div class="work-item-image image-desktop">
        <img src="../../../assets/images/work/pact.png" />
      </div>
    </div>
    <div
      class="work-item"
      data-aos="fade-right"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>Mahara</h3>
        <p>
          An Open-Source ePortfolio system designed for students in schools
          across the globe. Built in PHP and utilizing a Bootstrap front-end.
        </p>
      </div>
      <div class="work-item-image image-desktop">
        <img src="../../../assets/images/work/mahara.png" />
      </div>
    </div>
    <div
      class="work-item"
      data-aos="fade-left"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>Emergency Help App</h3>
        <p>
          A native mobile application built in Flutter. This app was designed to
          protect users in case of an emergency by sending the users loction to
          a list of trusted contacts at the click of a button.
        </p>
      </div>
      <div class="work-item-image image-mobile">
        <img src="../../../assets/images/work/emergencyHelp.gif" />
      </div>
    </div>
    <div
      class="work-item"
      data-aos="fade-right"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>CSS Animations</h3>
        <p>
          I have a particular interest in creating native CSS animations. Among
          which are examples of a landscape with moving clouds, a person
          juggling 5 balls, and a campfire.
        </p>
      </div>
      <div class="work-item-image image-desktop">
        <img src="../../../assets/images/work/landscape.gif" />
      </div>
    </div>
    <div
      class="work-item"
      data-aos="fade-left"
      data-aos-duratioon="600"
      data-aos-once="true"
    >
      <div class="work-item-title">
        <h3>Maria Alice Artworks</h3>
        <p>
          I built this site for a friend to showcase her photography and
          artwork.
        </p>
      </div>
      <div class="work-item-image image-desktop">
        <img src="../../../assets/images/work/mariaaliceart.png" />
      </div>
    </div>
  </div>
</div>
