// Color variables

$red: #900;
$white: #fff;
$black: #000;
$blue: #4f6d7a;
$orange: #dd6e42;
$lightGrey: #eaeaea;

// Mobile screen size
$mid-screen: 900px;
$small-screen: 768px;


$font-size: 1.8em;
$heading-font: 'RubikVinyl';
